@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{padding: 0; margin: 0;}
html {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
body {
    background-color: #E5D1FF;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
a.button{
    font-size: 20px;
    color: black;
    background-color: #BF8CFF;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 20px;
    padding: 5px 10px;
}
a.button:visited{
    color: black;
}

a.button:hover{
    background-color: #ab62ff;
}

a.button:last-child{
    width: 200px;
}

header.header{
    background-color: #D0AAFF;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #7A55A8;
}

div.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

img.logo{
    height: 70px;
    margin: 10px 50px;
}

div.number-input{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 50px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input.number{
    background-color: #BF8CFF;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 10px;
    padding: 0 10px;
}

input.btn{
    background-color: #EADAFF;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 10px;
    margin: 0 0 50px 50px;
}

input.btn:hover{
    background-color: #dfb2ff;
}

input.register_btn{
    background-color: #EADAFF;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 180px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 10px;
    margin: 0 0 50px 50px;
}

input.register_btn:hover{
    background-color: #dfb2ff;
}

div.passes:last-child{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

div.passes{
    background-color: #EADAFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid black;
    padding: 5px 0;
}


div.passes p:first-child{
    margin-left: 50px;
}

div.passes p:last-child{
    margin-right: 20px;
}

input.text{
    background-color: #BF8CFF;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 200px;
    height: 25px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 10px;
    padding: 0 10px;
}

div.text-input{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 50px;
}

div.error{
    text-decoration: none;

    color: black;
    margin: 30px 50px;
}