<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Местонахождение сотрудников</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}" type="image/x-icon">
</head>
<body>
 <header class="header">
      <p>
          <a href="{{ url_for('views.index') }}">
              <img src="./static/images/logo.png" alt="" class="logo">
          </a>
      </p>
      <div class="buttons">
          <a href="{{ url_for('views.index') }}" class="button">
              Вернуться на главную страницу
          </a>
      </div>
  </header>
 <div class ="number-input">Местонахождение сотрудников:</div>
    {% for location in location_data %}
        {% if location[2] != "Администратор" %}
            <div class="passes">
                <p>{{ location[1] }} {{ location[2] }}</p>
                <p>{{ location[5] }}</p>
            </div>
        {% endif %}
    {% endfor %}
</body>
</html>