<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
      <p>
          <a href="{{ url_for('views.index') }}">
              <img src="./static/images/logo.png" alt="" class="logo">
          </a>
      </p>
      <div class="buttons">
          <a href="{{ url_for('views.index') }}" class="button">
              Вернуться на главную страницу
          </a>
      </div>
    </header>
    <form action="/login" method="post">
        {{ form.hidden_tag() }}
        <div class="text-input">{{ form.rf_id.label() }} {{ form.rf_id(class_="text") }}</div>
        {{ form.submit(class_="btn") }}
    </form>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
</body>
</html>