<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
      <p>
          <a href="{{ url_for('views.index') }}">
              <img src="./static/images/logo.png" alt="" class="logo">
          </a>
      </p>
    </header>
    <div class="error">
        Вы ввели неправильный адрес. Вернуться на <a href="{{ url_for("views.index") }}"> главную страницу</a>?
    </div>
</body>
</html>