<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="header">
      <p>
          <a href="{{ url_for('views.index') }}">
              <img src="./static/images/logo.png" alt="" class="logo">
          </a>
      </p>
      <div class="buttons">
          <a href="{{ url_for('views.index') }}" class="button">
              Вернуться на главную страницу
          </a>
      </div>
    </header>
    <form action="/registration" method="post">
        {{ form.hidden_tag() }}
        <div class="text-input">
            {{ form.l_name.label() }} {{ form.l_name(class_="text") }}
        </div>
        <div class="text-input">
            {{ form.f_name.label() }} {{ form.f_name(class_="text") }}
        </div>
        <div class="text-input">
            {{ form.m_name.label() }} {{ form.m_name(class_="text") }}
        </div>
        <div class="text-input">
            {{ form.rf_id.label() }} {{ form.rf_id(class_="text") }}
        </div>
        {{ form.submit(class_="register_btn") }}
    </form>
</body>
</html>